= f.text_field :title, hint: 'This is a text field'
= f.email_field :email, hint: 'This is an email field'
= f.check_box :archived, hint: 'This is a checkbox', id: "archived_#{uid}"
= f.price_field :price, hint: 'This is a price field'

= f.phone_field :phone, hint: 'This is a phone field'
= f.phone_field :fax, hint: 'This is a phone field'
= f.phone_field :cell, hint: 'This is a phone field'

= f.datetime_field :start_at, hint: 'This is a datetime_field'
= f.datetime_field :end_at, hint: 'This is a datetime_field'

= f.date_field :date, hint: 'This is a date_field'
= f.time_field :time, hint: 'This is a time_field'

= f.static_field :static_text, hint: 'This is a static_field'

= f.static_field :static_text, hint: 'This is a static_field built from a block' do
  %strong This is rich text
  built from a
  %em normal haml
  block

= f.check_box :option1, inline: true, id: "option1_#{uid}"
= f.check_box :option2, inline: true, id: "option2_#{uid}"
= f.check_box :option3, inline: true, id: "option3_#{uid}"

- f.object.food = 'eggs'
- f.object.color = 'orange'

= f.select :food, EffectiveStyleGuide.foods
= f.select :color, EffectiveStyleGuide.colors, tags: true
= f.select :details, EffectiveStyleGuide.grouped_colors

= f.submit
